---
---
<div class="logo-container">
  <svg width="100%" height="100%" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <!-- Red Triangle Background -->
    <path d="M50 10 L90 80 L10 80 Z" fill="#A50000" />
    
    <!-- Dragon Silhouette (Simplified Placeholder) -->
    <path d="M50 25 
             C60 25, 65 35, 65 45 
             C65 55, 55 60, 45 60 
             C35 60, 30 50, 35 40 
             C35 30, 45 25, 50 25 Z 
             M50 65 L45 75 L55 75 Z" fill="#000" />
    
    <!-- Crosses at Vertices -->
    <!-- Top -->
    <g transform="translate(50, 10)">
      <line x1="-5" y1="0" x2="5" y2="0" stroke="white" stroke-width="2" />
      <line x1="0" y1="-5" x2="0" y2="5" stroke="white" stroke-width="2" />
    </g>
    <!-- Left Bottom -->
    <g transform="translate(10, 80)">
      <line x1="-5" y1="0" x2="5" y2="0" stroke="white" stroke-width="2" />
      <line x1="0" y1="-5" x2="0" y2="5" stroke="white" stroke-width="2" />
    </g>
    <!-- Right Bottom -->
    <g transform="translate(90, 80)">
      <line x1="-5" y1="0" x2="5" y2="0" stroke="white" stroke-width="2" />
      <line x1="0" y1="-5" x2="0" y2="5" stroke="white" stroke-width="2" />
    </g>
  </svg>
</div>

<style>
  .logo-container {
    width: 60px;
    height: 60px;
    display: inline-block;
  }
</style>
